body {
  margin: 0 auto;
 /* max-width: 1660px; */
}

/* Шапка сайта */

.header {
  box-sizing: border-box;
  color: white;
  position: relative;
  padding-top: 28px;
  z-index: 1;

  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-color: #4d5249;
  background-position: center top;
  background-repeat: no-repeat;
}

.header_top {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
}

.header_logo_link {
  z-index: 3;
}

.header_logo_image {
  width: 180px;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "OpenSans-Regular", sans-serif;
}

.menu__button {
  display: none;
}

.nav_item:first-child {
  margin-left: auto;
}

.nav_item {
  margin-left: 33px;
}

.nav_item_link {
  color: white;
  text-decoration: none;
}

.nav_item_link:hover {
  text-decoration: underline;
}

.header_title {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 100px 0 125px;
  max-width: 700px;
  text-align: center;
  font-size: 45px;
  line-height: 1.7;
  text-transform: uppercase;
  z-index: 4;
  font-family: "OpenSans-Bold", sans-serif;
}

/* Блок с трендами */

.trends_header {
  width: 100%;
  font-size: 20px;
  margin: 55px auto 15px;
  display: inline-block;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "OpenSans-Bold", sans-serif;
  text-align: center;
}

.trends_header::after {
  content: "";
  display: block;
  background-color: #e1d9bd;
  height: 3px;
  width: 66px;
  margin: 10px auto 13px;
}

.trends_posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trends_post {
  width: calc(25% - 3px);
  position: relative;
}

.trends_image {
  width: 100%;
  height: 100%;
  object-fit: cover;	
}

.trends_post::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
}

.trends_news {
  position: absolute;
  bottom: 0;
  border: 3px solid rgba(181, 159, 91, 0.6);
  margin: 15px 5%;
  padding: 5% 8% 4%;
  z-index: 1;
}

.trends_tags {
  padding-left: 0;
  margin: 5% 0 0;
}

.trends_tags_item {
  display: inline;
  list-style-type: none;
  margin: 0 14px 0 0;
}

.trends_tags_link {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  font-family: "OpenSans-Bold", sans-serif;
}

.trends_link {
  color: white;
  text-decoration: none;
}

.trends_caption {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 6px;
  display: inline-block;
  font-family: "OpenSans-Bold", sans-serif;
}





/* Блок с новостями */

.main {
  max-width: 1170px;
  padding: 64px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main_block {
  max-width: 778px;
  margin-right: 0;
  margin-left: 0;
}

.main_block_news {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.main_block_news:last-child {
  margin-bottom: 0;
}

.news_image {
  width: 380px;
  margin-right: 8px;
  object-fit: contain;
  object-position: top;
}

.news_right {
  /* margin: 0 0 0 30px; */
  padding-left: 20px;
  width: 390px;
  box-sizing: border-box;
}

.news_tags {
  margin: -2px 0 0 0;
  padding-left: 0;
}

.news_tags_item {
  display: inline;
  list-style-type: none;
  margin: 0 14px 0 0;
}

.news_tags_item:last-child {
  margin: 0;
}

.news_tags_link {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  font-family: "OpenSans-Bold", sans-serif;
}

.news_tags_link:hover {
  text-decoration: underline;
}

.news_link {
  color: #0f0d0e;
  text-decoration: none;
}
.news_caption {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 6px;
  display: inline-block;
  font-family: "OpenSans-Bold", sans-serif;
}

.news_caption:hover {
  color: #b59f5b;
}

.news_info {
  margin: 10px 0 45px;
}

.news_info_date {
  font-size: 12px;
  margin-right: 8px;
  color: #888888;
  font-family: "OpenSans-Regular", sans-serif;
}

.news_info_author {
  font-size: 12px;
  font-family: "OpenSans-Bold", sans-serif;
}

.news_text {
  font-size: 15px;
  line-height: 1.47;
  font-family: "OpenSans-Regular", sans-serif;
}

/* Боковой aside блок */

.aside {
  width: 272px;
  margin-right: 0;
  margin-left: 5%;
}

.aside_item {
  margin-bottom: 58px;
  margin-top: -5px;
}

.aside_item:last-child {
  margin-bottom: 0;
}

.aside_caption {
  width: 100%;
  font-size: 14px;
  margin: 0 auto 15px;
  display: inline-block;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "OpenSans-Bold", sans-serif;
  text-align: center;
}

.aside_caption::after {
  content: "";
  display: block;
  background-color: #e1d9bd;
  height: 3px;
  width: 66px;
  margin: 10px auto 13px;
}

.aside_news {
  display: flex;
  margin-bottom: 22px;
}

.aside_news_image {
  width: 70px;
  object-fit: cover;
  object-position: center;
}

.aside_right {
/*  margin-right: 0;
  margin-left: auto; */
  padding-left: 20px;
}

.aside_news_date {
  color: #888888;
  margin-top: -5px;
  font-size: 12px;
  font-family: "OpenSans-Regular", sans-serif;
}

.aside_news_link {
  text-decoration: none;
}

.aside_news_text {
  display: block;
  color: #000000;
  min-width: 182px;
  margin: 5px 0 0 auto;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "OpenSans-Bold", sans-serif;
}

.aside_news_text:hover {
  color: #b59f5b;
}

.aside_search {
  display: flex;
  position: relative;
  margin: 60px 0 0 0;
}

.aside_label_search {
  width: calc(100% - 48px);
}

.label_text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search {
  width: 100%;
  margin-right: -1px;
  height: 48px;
  padding: 0 20px;
  background-color: #f4f7f6;
  border: 0;
  font-family: "OpenSans-Regular", sans-serif;
}

.search:focus {
  outline-style: none;
  border: 1px solid #b59f5b;
}

.search:focus ~ .search_title::before {
  content: attr(data-title);
  width: 100px;
  left: -42%;
  top: 2px;
}

.search_submit {
  width: 48px;
  height: 48px;
  border: 0;
  cursor: pointer;

  background-image: url(../svg/search.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b59f5b;
}

.data-title::before {
  position: absolute;
  display: inline-block;
  color: #000;
  background-color: #e1d9bd;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
}

.search_submit:hover::before {
  content: attr(data-title);
  width: 100px;
  left: 70%;
  top: 100%;
  margin-top: 5px;
}

.aside_email {
  position: relative;
}

.email {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 20px;
  background-color: #f4f7f6;
  border: 0;
  font-family: "OpenSans-Regular", sans-serif;
}

.email:focus {
  outline-style: none;
  border: 1px solid #b59f5b;
}

.email:focus ~ .email_title::before {
  content: attr(data-title);
  width: 100px;
  left: -42%;
  top: 2px;
}

.email_submit {
  display: block;
  width: 100%;
  height: 48px;
  border: 0;
  margin: 18px 0;
  background-color: #b59f5b;
  cursor: pointer;
}

.email_submit:hover {
  background-color: #323232;
}

.email_submit_text {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSans-Bold", sans-serif;
}

.aside_tags {
  margin: -2px 0 0 0;
  padding-left: 0;
}

.aside_tags_item {
  list-style-type: none;
  display: inline;
}

.aside_tags_link {
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-decoration: none;
  font-family: "OpenSans-Bold", sans-serif;
  display: inline-block;
  outline: #eeeeee solid 3px;

  padding: 3px 11px;
  margin: 7px;
}

.aside_tags_link:hover {
  outline: #b59f5b solid 3px;
}

.aside_theme {
  margin: -10px 0 0 0;
  padding-left: 0;
}

.aside_theme_item:first-child {
  padding: 0 0 15px;
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
}

.aside_theme_item {
  padding: 10px 0 13px;
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
}

.aside_theme_link {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-family: "OpenSans-Bold", sans-serif;
}

.aside_theme_link:hover {
  color: #b59f5b;
}

.theme_link_count {
  color: #b59f5b;
  font-size: 12px;
  vertical-align: super;
  font-family: "OpenSans-Bold", sans-serif;
}

/* Блок с рекламой */

.offer {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto 100px;
}

.offer_header {
  width: 100%;
  font-size: 14px;
  margin: 15px auto;
  display: inline-block;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "OpenSans-Bold", sans-serif;
  text-align: center;
}

.offer_header::after {
  content: "";
  display: block;
  background-color: #e1d9bd;
  height: 3px;
  width: 66px;
  margin: 10px auto 13px;
}

.offer_posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer_post {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offer_image {
  margin-bottom: -30px;
  display: block;
}

.offer_post_info {
  padding: 20px 5% 20px;
  width: 300px;
  border: 3px solid #d3c59d;
}

.offer_post_text {
  font-size: 15px;
  width: 100%;
  line-height: 1.2;
  margin-top: 6px;
  display: inline-block;
  font-family: "OpenSans-Regular", sans-serif;
}

.offer_post_title {
  text-transform: uppercase;
  margin-bottom: 6px;
}

.offer_post_description {
  display: block;
  margin-top: 0;
  line-height: 1.4;
}

.offer_post_link {
  text-decoration: none;
  color: #b59f5b;

}

.offer_post_link:hover {
  text-decoration: underline;
}

.offer_post_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0 0;
}

.offer_price {

}

.offer_old_price {
  font-size: 12px;
  display: block;
  text-decoration: line-through;
  font-family: "OpenSans-Bold", sans-serif;
}

.offer_new_price {
  display: block;
  font-size: 20px;
  font-family: "OpenSans-Bold", sans-serif;
}

.offer_button_buy {
  display: block;
  width: 140px;
  height: 48px;
  border: 0;
  background-color: #b59f5b;
  cursor: pointer;
}

.offer_button_buy:hover {
  background-color: #323232;
}

.offer_button_text {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSans-Bold", sans-serif;
}

/* Footer */

.footer {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #f4f7f6;
  padding: 5px;
}

.footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footer_social_item {
  list-style-type: none;
}

.social_link {
  width: 45px;
  height: 45px;
  text-decoration: none;
  color: #000000;
  display: block;

  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.dribbble {
  background-image: url(../svg/001-dribbble.svg);
}
.pinterest {
  background-image: url(../svg/002-pinterest.svg);
}
.tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.icon_link_text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Форма с фидбеком */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

._hidden {
  display: none;
}

.popup_form {
  background-color: #ffffff;
  width: 330px;
  height: 500px;
  padding: 45px 30px;
  position: relative;
}

.popup_header {
  width: 100%;
  font-size: 20px;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "OpenSans-Bold", sans-serif;
  text-align: center;
}

.popup_header::after {
  content: "";
  display: block;
  background-color: #e1d9bd;
  height: 3px;
  width: 66px;
  margin: 10px auto 13px;
}

.popup_text {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  margin: 10px 0 7px;
  font-family: "OpenSans-Regular", sans-serif;
}

.popup_input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-bottom: 31px;
  padding: 0 20px;
  background-color: #f4f7f6;
  border: 0;
  font-family: "OpenSans-Regular", sans-serif;
}

.popup_input:focus {
  outline-style: none;
  border: 1px solid #b59f5b;
}

.popup_radio {
  display: none;
}

.popup_radio:checked ~ .popup_checkbox_text::before {
  background-image: url(../svg/form-circle.svg);
}

.popup_checkbox {
  display: inline-block;
  margin-bottom: 15px;
}

.popup_checkbox_text {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 13px;
  font-family: "OpenSans-Regular", sans-serif;
}

.popup_checkbox_text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: middle;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.poput_comment {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 132px;
  padding: 20px;
  background-color: #f4f7f6;
  border: 0;
  font-family: "OpenSans-Regular", sans-serif;
  resize: none;
}

.poput_comment:focus {
  outline-style: none;
  border: 1px solid #b59f5b;
}

.popup_submit {
  display: block;
  width: 100%;
  height: 48px;
  border: 0;
  margin: 25px 0 0;
  background-color: #b59f5b;
  cursor: pointer;
}

.popup_submit:hover {
  background-color: #323232;
}

.popup_submit_text {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSans-Bold", sans-serif;
}

/* Button close */

.popup_close {
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;

  width: 1.4em;
  height: 1em;
  font-size: 20px;

  position: absolute;
  top: -1.5em;
  right: -3px; 
}

.popup_close::before, .popup_close:after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.4em;
  height: 0.2em;
}

.popup_close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup_close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Copyrate */

.copyrate {
  max-width: 1170px;
  margin: 66px auto 40px;
  text-align: center;
  font-size: 12px;
  font-family: "OpenSans-Bold", sans-serif;
}

.copyrate_link {
  color: #999999;
  text-decoration: none;
}

/* Tablet version */

@media (max-width: 1200px){
  .header {
    padding-top: 43px;
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .header_top {
    padding: 0 4.5%;
  }
  
  .header_title {
    margin: 0 auto;
    max-width: 650px;
    font-size: 40px;
    line-height: 1.4;
    padding: 85px 0 110px;
  }

  .header_logo_image {
    width: 160px;
  }
  
  .nav {
    display: none;
  }
  
  .menu__button {
    display: block;
    width: 0.9em;
    height: 0.7em;
    border: none;
    padding: 0;
  
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 5;
  }
  
  .menu__button::before, .menu__button:after {
    content:"";
    width: 100%;
    height: 15%;
  
    background-color: #ffffff;  
  
    position: absolute;
    left: 0;
  }
  
  .menu__button::before {
    top: 0;
  }
  
  .menu__button:after {
    bottom: 0;
  }
  
  .menu__button_label {
    width: 100%;
    height: 15%;
    margin-top: -5%;  
  
    background-color: #ffffff;  
  
    position: absolute;
    left: 0;
    top: 50%;
  }

  .trends_header {
    font-size: 18px;
    margin: 46px auto 5px;
  }

  .trends_post {
    width: calc(50% - 2px);
    height: 245px;
    margin-bottom: 4px;
  }

  .trends_image {
    object-position: bottom;
  }

  .trends_caption {
    font-size: 17px;
  }

  .main {
    padding: 47px 35px 33px;
  }

  .main_block_news {
    margin-bottom: 40px;
  }

  .main_block_news::after {
    content: "";
    display: block;
    background-color: #eeeeee;
    height: 3px;
    width: 100%;
    margin: 2px auto;
  }

  .main_block_news:last-child::after {
    display: none;
  }

  .news_image {
    width: 100%;
    margin-right: 0;
  }
  
  .news_right {
    width: 100%;
    margin: 12px 0 0;
    padding-left: 0;
  }

  .news_caption {
    font-size: 17px;
    margin-top: 10px;
  }

  .news_info {
    margin: 18px 0 28px;
  }

  .offer_header {
    font-size: 18px;
  }

  .offer_posts {
    margin: 0 3%;
  }

  .offer_post {
    width: 48%;
    margin-bottom: 25px;
  }

  .offer_post_info {
    width: 292px;
  }

  .popup_header {
    font-size: 18px;
  }
}

@media (max-width: 1200px) and (orientation: landscape){
  .trends_post {
    width: calc(25% - 3px);
    margin-bottom: 5px;
  }

  .trends_tags_link {
    font-size: 12px;
  }

  .trends_caption {
    font-size: 15px;
  }
}

/* Mobile version */

@media (max-width: 640px){
  .header {
    background-image: url(../images/banner-mobile.jpg);
  }

  .header_logo_link {
    position: absolute;
    margin-top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header_logo_image {
    width: 270px;
  }

  .header_title {
    padding: 266px 15px 210px;
    font-size: 26px;
  }

  .menu__button {
    margin-left: auto;
  }

  .trends_header {
    font-size: 16px;
    margin: 40px auto 5px;
  }

  .trends_news {
    margin-top: 11px;
    padding: 5% 5% 4%;
  }

  .trends_post {
    width: 100%;
    height: 230px;
  }

  .trends_caption {
    font-size: 15px;
    margin-top: 11px;
  }

  .main {
    flex-wrap: wrap;
  }

  .main_block {
    width: 100%;
  }

  .main_block_news:last-child::after {
    content: "";
    display: block;
    background-color: #eeeeee;
    height: 3px;
    width: 100%;
    margin: 2px auto;
    margin-bottom: 40px;
  }

  .aside {
    width: 100%;
    margin-left: 0;
  }

  .offer_post {
    width: 100%;
  }

  .offer_post_info {
    width: 285px;
  }

  .aside_caption {
    font-size: 18px;
  }
}

@media (max-width: 640px) and (orientation: landscape){
  .trends_post {
    width: calc(50% - 2px);
  }
}







@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.woff)
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.woff)
    format("woff");
  font-weight: 700;
  font-style: bold;
}